<div class="container p-1">
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary btn-lg m-3" routerLink="/admin/adminSuccess"><i class="bi bi-arrow-return-left"></i>Return back</button>
      </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <ng-container *ngFor="let owner of allOwners">
            <div class="col">
            <div class="card">
                <img src="../../../assets/owner.png" class="owner-image" alt="owner-image" class="border-bottom">
                <div class="card-body" style="background-color:rgb(255, 102, 102)">
                <h5 class="card-title text-center">{{owner.firstname}} {{owner.lastname}}</h5>
                <p class="card-text text-center"><i class="bi bi-telephone-fill"></i> {{owner.mobile}}</p>
                <p class="card-text text-center"><i class="bi bi-envelope-at-fill"></i> {{owner.mail}}</p>
                </div>
            </div>
            </div>
        </ng-container>
      </div>
</div>