<div class="container text-center">
    <button class="btn btn-lg btn-info me-4 shadow p-3 mb-5 bg-body-tertiary rounded" routerLink="/admin/hotels"><i class="bi bi-buildings-fill"></i> Hotels</button>
    <button class="btn btn-lg btn-info me-4 shadow p-3 mb-5 bg-body-tertiary rounded" routerLink="/admin/users"><i class="bi bi-people-fill"></i> Users</button>
    <button class="btn btn-lg btn-info shadow p-3 mb-5 bg-body-tertiary rounded" routerLink="/admin/owners"><i class="bi bi-person-vcard"></i> Owners</button>
</div>
