.container {
    font-family: arial;
    font-size: 24px;
    width: 98vw;
    height: 80vh;
    /* Center vertically and horizontally */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .child {
    width: 600px;
    height: 350px;
    border: 4px solid rgb(253, 230, 230);
    border-radius: 20px;
    background-color: rgb(251, 205, 225);
    z-index: 1;
    box-shadow: 5px 5px 10px lightblue;
  }

  .effect{
    margin: 10px;
    padding: 5px;
}

.effect:hover{
    color: white;
    background-color: rgb(147, 134, 251);
    border: 3px solid rgb(147, 134, 251);
    cursor: pointer;
  }

  .crousal-img{
    object-fit: contain;
    height: 300px;
    width: 100%;
  }
  .carousel-control-next-icon{
    background-color: black;
  }
  .crousal-container{
    padding: 30px 20px;
    box-sizing: border-box;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  // .ngb-carousel{
  //   // width: 90vw;
  // }
  .navigation{
    height: 35vh;
  }
  .nav-button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 7px;
    color: white;
    width: 200px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 20px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  .button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
  }
  
  .button1:hover {
    background-color: #4CAF50;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
  }
  
  .button2:hover {
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .button3 {
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  
  .button3:hover {
    background-color: #f44336;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }